@font-face{
    font-family: 'Red Hat Display';
    src: url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);

    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}

html{
    font-size: 16px;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    font-size: 1rem;
}

.contain{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Paleblue);
    /* background: var(--Paleblue) url(./images/pattern-background-desktop.svg) no-repeat; */
    overflow: auto;
}
@media screen and (max-width: 855px) {
    .contain {
      background-image: url(../images/pattern-background-mobile.svg);
    }
  }

.card{
    width: 95%;
    max-width: 400px;
    background-color: var(--Verypaleblue);
    border-radius: 20px;
    overflow: hidden;
    box-shadow:  0px 15px 20px #c4c6c7;
}

.image-hero{
    max-width: 400px;
}

h3{
    margin: 30px auto 15px auto;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 900 ;
    color: var(--Darkblue);
}

.card-description{
    width: 300px;
    margin: 0px auto 25px auto;
    text-align: center;
    color: var(--Desaturatedblue);
}

.card-plan{
    position: relative;
    background-color: hsl(206, 53%, 94%);
    max-width: 70%;
    margin: auto;
    padding: 25px 15px;
    border-radius: 10px;
}

.image-music{
    float:left;
    width: 35px;
    margin-right: 15px;
}

span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

a{
    font-size: 0.8rem;
    color: var(--Brightblue);
    font-weight: 700;
}

span a:active{
    color: var(--Desaturatedblue);
}

h4{
    margin-bottom: 5px;
    color: var(--Darkblue);

}

p{
    color: var(--Desaturatedblue);
}

.cancel-order{
    padding: 15px ;
    color: var(--Desaturatedblue);
    text-align: center;
}

.cancel-order a:active{
    color: var(--Darkblue);
}

button{
    display: block;
    margin: 20px auto 20px auto;
    width: 70%;
    font-weight: 700;
    height: 40px;
    color: white;
    background-color: var(--Brightblue);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 15px 15px #c4c6c7;
}

button:active{
    opacity: 0.7;
}

p a{
    color: var(--Desaturatedblue);
    font-weight: 700;
    text-decoration: none;
    font-size: 0.8rem;
}

@media screen and (max-height: 680px){

    .attribution{
        display: none;
    }

}

.attribution { 
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: 11px; 
    text-align: center; 
    color: var(--Brightblue);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
